This notebook is the solution for the first task of the Stonksmaster project.

1. Reading data from CSV file as a pandas DataFrame

In [15]:
import pandas as pd

# read csv file as pandas dataframe
df = pd.read_csv('housing.csv')
print(f'df object is of type {type(df)}')
df

df object is of type <class 'pandas.core.frame.DataFrame'>

        RM  LSTAT  PTRATIO      MEDV
0    6.575   4.98     15.3  504000.0
1    6.421   9.14     17.8  453600.0
2    7.185   4.03     17.8  728700.0
3    6.998   2.94     18.7  701400.0
4    7.147   5.33     18.7  760200.0
..     ...    ...      ...       ...
484  6.593   9.67     21.0  470400.0
485  6.120   9.08     21.0  432600.0
486  6.976   5.64     21.0  501900.0
487  6.794   6.48     21.0  462000.0
488  6.030   7.88     21.0  249900.0

[489 rows x 4 columns]

2. Converting pandas DataFrame to 2D numpy.ndarray

In [16]:
import pandas as pd

df = pd.read_csv('housing.csv')
print(f'df object is of type {type(df)}')

# convert dataframe to 2D numpy.ndarray
array = df.values
print(f'array object is of type {type(array)}\n')
array

df object is of type <class 'pandas.core.frame.DataFrame'>
array object is of type <class 'numpy.ndarray'>

array([[6.575e+00, 4.980e+00, 1.530e+01, 5.040e+05],
       [6.421e+00, 9.140e+00, 1.780e+01, 4.536e+05],
       [7.185e+00, 4.030e+00, 1.780e+01, 7.287e+05],
       ...,
       [6.976e+00, 5.640e+00, 2.100e+01, 5.019e+05],
       [6.794e+00, 6.480e+00, 2.100e+01, 4.620e+05],
       [6.030e+00, 7.880e+00, 2.100e+01, 2.499e+05]])

3. Adding new column named 'index' and removing existing column 'LSTAT' from the DataFrame

In [17]:
import pandas as pd

# read csv file as pandas dataframe
df = pd.read_csv('housing.csv')

# new col is a list that contains index values
new_col = [int(x) for x in range(df.shape[0])]
df.insert(0, 'INDEX', new_col)

# remove column LSTAT from the dataframe
df = df.drop(columns=['LSTAT'])

# show the modified dataframe
df

     INDEX     RM  PTRATIO      MEDV
0        0  6.575     15.3  504000.0
1        1  6.421     17.8  453600.0
2        2  7.185     17.8  728700.0
3        3  6.998     18.7  701400.0
4        4  7.147     18.7  760200.0
..     ...    ...      ...       ...
484    484  6.593     21.0  470400.0
485    485  6.120     21.0  432600.0
486    486  6.976     21.0  501900.0
487    487  6.794     21.0  462000.0
488    488  6.030     21.0  249900.0

[489 rows x 4 columns]

4. Slicing the DataFrame to create custom dataset. Creating a new DataFrame that contains the columns 'RM' and 'PTRATIO' and only the first 100 records.

In [18]:
import pandas as pd

# read csv file as pandas dataframe
df = pd.read_csv('housing.csv')

# taking a slice of the original dataframe to create a new dataframe
df2 = df.loc[:99, ['RM', 'PTRATIO']]

# show the modified dataframe
df2

       RM  PTRATIO
0   6.575     15.3
1   6.421     17.8
2   7.185     17.8
3   6.998     18.7
4   7.147     18.7
..    ...      ...
95  6.625     18.0
96  6.163     18.0
97  8.069     18.0
98  7.820     18.0
99  7.416     18.0

[100 rows x 2 columns]