In [83]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [84]:
#loading the dataset
housing_data = pd.read_csv("housing.csv")
housing_data.head()

    RM  LSTAT  PTRATIO      MEDV
0 6.58   4.98    15.30 504000.00
1 6.42   9.14    17.80 453600.00
2 7.18   4.03    17.80 728700.00
3 7.00   2.94    18.70 701400.00
4 7.15   5.33    18.70 760200.00

In [85]:
#Converting the database to a numpy 2D array
housing_data_2D = np.array(housing_data)
housing_data_2D[:5]

array([[     6.575,      4.98 ,     15.3  , 504000.   ],
       [     6.421,      9.14 ,     17.8  , 453600.   ],
       [     7.185,      4.03 ,     17.8  , 728700.   ],
       [     6.998,      2.94 ,     18.7  , 701400.   ],
       [     7.147,      5.33 ,     18.7  , 760200.   ]])

In [86]:
#let us drop the column 'PTRATIO'
housing_data.drop(labels=['PTRATIO'], axis=1, inplace=True)
housing_data.head()

    RM  LSTAT      MEDV
0 6.58   4.98 504000.00
1 6.42   9.14 453600.00
2 7.18   4.03 728700.00
3 7.00   2.94 701400.00
4 7.15   5.33 760200.00

In [87]:
housing_data.rename(columns={"RM": "Avg. room per dwelling",}, inplace=True)
housing_data.head()

   Avg. room per dwelling  LSTAT      MEDV
0                    6.58   4.98 504000.00
1                    6.42   9.14 453600.00
2                    7.18   4.03 728700.00
3                    7.00   2.94 701400.00
4                    7.15   5.33 760200.00

In [88]:
#slicing the "RM" column of dataframe
RM = np.array(housing_data["Avg. room per dwelling"])
RM[:5] #created numpy array and displaying first 5 values

array([6.575, 6.421, 7.185, 6.998, 7.147])