In [6]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("housing.csv")
df.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [19]:
data = np.array(df)
data

array([[6.575e+00, 4.980e+00, 1.530e+01, 5.040e+05],
       [6.421e+00, 9.140e+00, 1.780e+01, 4.536e+05],
       [7.185e+00, 4.030e+00, 1.780e+01, 7.287e+05],
       ...,
       [6.976e+00, 5.640e+00, 2.100e+01, 5.019e+05],
       [6.794e+00, 6.480e+00, 2.100e+01, 4.620e+05],
       [6.030e+00, 7.880e+00, 2.100e+01, 2.499e+05]])

In [43]:
new_df = df.drop('MEDV', axis=1)

In [44]:
new_df["MEDV"] = df.iloc[:,3]/10000

In [45]:
new_df

        RM  LSTAT  PTRATIO   MEDV
0    6.575   4.98     15.3  50.40
1    6.421   9.14     17.8  45.36
2    7.185   4.03     17.8  72.87
3    6.998   2.94     18.7  70.14
4    7.147   5.33     18.7  76.02
..     ...    ...      ...    ...
484  6.593   9.67     21.0  47.04
485  6.120   9.08     21.0  43.26
486  6.976   5.64     21.0  50.19
487  6.794   6.48     21.0  46.20
488  6.030   7.88     21.0  24.99

[489 rows x 4 columns]

In [51]:
new_df.rename(columns={"MEDV":"PRICE"}, inplace=True)

In [52]:
new_df

        RM  LSTAT  PTRATIO  PRICE
0    6.575   4.98     15.3  50.40
1    6.421   9.14     17.8  45.36
2    7.185   4.03     17.8  72.87
3    6.998   2.94     18.7  70.14
4    7.147   5.33     18.7  76.02
..     ...    ...      ...    ...
484  6.593   9.67     21.0  47.04
485  6.120   9.08     21.0  43.26
486  6.976   5.64     21.0  50.19
487  6.794   6.48     21.0  46.20
488  6.030   7.88     21.0  24.99

[489 rows x 4 columns]

In [63]:
rows = np.shape(data)[0]
train_df, test_df = new_df.iloc[:int(rows*0.9)], new_df.iloc[int(rows*0.9):]

In [64]:
train_df.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [65]:
test.head()

        RM  LSTAT  PTRATIO      MEDV
440  5.936  16.94     20.2  283500.0
441  6.301  16.23     20.2  312900.0
442  6.081  14.70     20.2  420000.0
443  6.701  16.42     20.2  344400.0
444  6.376  14.65     20.2  371700.0