In [4]:
import pandas as pd
import numpy as np

In [35]:
# Loading Dataframe from CSV
df = pd.read_csv("housing.csv")
#Displaying top 10 rows
df.head(10)

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0
5  6.430   5.21     18.7  602700.0
6  6.012  12.43     15.2  480900.0
7  6.172  19.15     15.2  569100.0
8  5.631  29.93     15.2  346500.0
9  6.004  17.10     15.2  396900.0

In [ ]:
# Renaming Column LSTAT to L_STAT
df.rename(columns={'LSTAT':'L_STAT'}, inplace=True)
df.head()

      RM  L_STAT  PTRATIO      MEDV
0  6.575    4.98     15.3  504000.0
1  6.421    9.14     17.8  453600.0
2  7.185    4.03     17.8  728700.0
3  6.998    2.94     18.7  701400.0
4  7.147    5.33     18.7  760200.0

In [18]:
#Converting To 2D array
df_2d = np.array(df)
df_2d[:5]

array([[6.575e+00, 4.980e+00, 5.040e+05],
       [6.421e+00, 9.140e+00, 4.536e+05],
       [7.185e+00, 4.030e+00, 7.287e+05],
       [6.998e+00, 2.940e+00, 7.014e+05],
       [7.147e+00, 5.330e+00, 7.602e+05]])

In [34]:
# Slicing the column RM
RM_Slice = np.array(df["RM"])
RM_Slice[:5]

array([6.575, 6.421, 7.185, 6.998, 7.147])

In [10]:
#Dropping Column PTRATIO
df.drop(labels=['PTRATIO'], axis=1, inplace=True)
df.head()

      RM  LSTAT      MEDV
0  6.575   4.98  504000.0
1  6.421   9.14  453600.0
2  7.185   4.03  728700.0
3  6.998   2.94  701400.0
4  7.147   5.33  760200.0