In [60]:
import numpy as np
import pandas as pd
import requests
import datetime as dt
import json
from datetime import datetime as dt

In [84]:
ticker= 'nflx' #ticker symbol of Netflix
api_key= "sk_0dff5fb95b4f42d3816fdaf34dc2907b"
prev1y="https://cloud.iexapis.com/stable/stock/%s/chart/1y?token=%s"%(ticker,api_key)
prev1d= "https://cloud.iexapis.com/stable/stock/%s/chart/1d?token=%s"%(ticker,api_key)
intraday= "https://cloud.iexapis.com/stable/stock/%s/intraday-prices/batch?token=%s"%(ticker,api_key)
r1d= requests.get(prev1d)
r1y= requests.get(prev1y)
rid= requests.get(intraday)
jsnprev1d=json.loads(r1d.text)
#print(jsnprev1d)
jsnprev1y=json.loads(r1y.text)
jsnintraday=json.loads(rid.text)

In [85]:
# creating minutes key in previous years' data
for i in jsnprev1y:
  i['minute'] = i.get('minute','09:30')

In [86]:
# converting to timestamps

for i in jsnprev1y:
  string= i['date']+'T'+i['minute']+':00+00:00'
  element= dt.strptime(string,"%Y-%m-%dT%H:%M:%S+00:00")
  timestamp= dt.timestamp(element)
  i['timestamps']= i.get('timestamps',timestamp)
for i in jsnprev1d:
  string= i['date']+'T'+i['minute']+':00+00:00'
  element= dt.strptime(string,"%Y-%m-%dT%H:%M:%S+00:00")
  timestamp= dt.timestamp(element)
  i['timestamps']= i.get('timestamps', timestamp)
for i in jsnintraday:
  string= i['date']+'T'+i['minute']+':00+00:00'
  element= dt.strptime(string,"%Y-%m-%dT%H:%M:%S+00:00")
  timestamp= dt.timestamp(element)
  i['timestamps']= i.get('timestamps', timestamp)

In [87]:
# creating the DataFrame
df1y= pd.DataFrame(jsnprev1y)
df1d= pd.DataFrame(jsnprev1d)
dfid= pd.DataFrame(jsnintraday)
#dfid

In [88]:
# concatinating the dataframe
frames =[df1y,df1d,dfid]
results =pd.concat(frames)
results= results.drop(['date','close','high','low','volume','uOpen','uHigh','uLow','uVolume','change','label','changeOverTime','minute'],axis=1)
results= results.drop(['uClose','changePercent','average','notional','numberOfTrades'],axis=1)
results

        open    timestamps
0    273.030  1.570527e+09
1    270.020  1.570613e+09
2    265.970  1.570700e+09
3    284.800  1.570786e+09
4    283.930  1.571045e+09
..       ...           ...
385  535.830  1.602086e+09
386  535.845  1.602086e+09
387  535.810  1.602086e+09
388  535.700  1.602086e+09
389  535.000  1.602086e+09

[1033 rows x 2 columns]