In [47]:
import pandas as pd
import datetime as dt
import requests
import json
from datetime import datetime as dt

token = 'pk_48c23fbf1f594045b030fb910fbd455f'

sym = 'AAPL'
prev1y='https://cloud.iexapis.com/stable/stock/'+sym+'/chart/1y?token='+token+''
prev1d= 'https://cloud.iexapis.com/stable/stock/'+sym+'/chart/1d?token='+token+''
intraday= 'https://cloud.iexapis.com/stable/stock/'+sym+'/intraday-prices/batch?token='+token+''

r1d= requests.get(prev1d)
r1y= requests.get(prev1y)
rid= requests.get(intraday)

prev1d=json.loads(r1d.text)
prev1y=json.loads(r1y.text)
intraday=json.loads(rid.text)

In [48]:
for i in prev1y:
  i['minute'] = i.get('minute','09:30')

In [49]:
for i in prev1y:
  string= i['date']+'T'+i['minute']+':00+00:00'
  element= dt.strptime(string,"%Y-%m-%dT%H:%M:%S+00:00")
  timestamp= dt.timestamp(element)
  i['timestamps']= i.get('timestamps',timestamp)
  
for i in prev1d:
  string= i['date']+'T'+i['minute']+':00+00:00'
  element= dt.strptime(string,"%Y-%m-%dT%H:%M:%S+00:00")
  timestamp= dt.timestamp(element)
  i['timestamps']= i.get('timestamps', timestamp)

for i in intraday:
  string= i['date']+'T'+i['minute']+':00+00:00'
  element= dt.strptime(string,"%Y-%m-%dT%H:%M:%S+00:00")
  timestamp= dt.timestamp(element)
  i['timestamps']= i.get('timestamps', timestamp)

In [50]:
df_1= pd.DataFrame(prev1y)
df_2= pd.DataFrame(prev1d)
df_3= pd.DataFrame(intraday)

In [51]:
frames =[df_1,df_2,df_3]
final =pd.concat(frames)
final= final.drop(['date','close','high','low','volume','uOpen','uHigh','uLow','uVolume','change','label','changeOverTime','minute','uClose','changePercent','average','notional','numberOfTrades'],axis=1)
final

       open    timestamps
0     56.46  1.570527e+09
1     56.76  1.570613e+09
2     56.98  1.570700e+09
3     58.24  1.570786e+09
4     58.73  1.571045e+09
..      ...           ...
235  114.69  1.602164e+09
236  114.75  1.602164e+09
237  114.83  1.602164e+09
238  114.81  1.602164e+09
239  114.87  1.602164e+09

[733 rows x 2 columns]