In [18]:
!pip install iexfinance

Requirement already satisfied: iexfinance in /usr/local/lib/python3.6/dist-packages (0.4.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from iexfinance) (1.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from iexfinance) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->iexfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->iexfinance) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas->iexfinance) (1.18.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->iexfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->iexfinance) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->iexfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->iexfinance) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->iexfinance) (1.15.0)

In [8]:

import pandas as pd
import datetime
from iexfinance.stocks import get_historical_intraday
start=datetime.date(2020,10,9)
api_key="pk_71ad3ee3e5b746938ec722e052812d60"
df=get_historical_intraday("aapl",output_format='pandas',token=api_key)

df

                           date     label  ...     notional  numberOfTrades
2020-10-09 09:30:00  2020-10-09  09:30 AM  ...  1949189.465             123
2020-10-09 09:31:00  2020-10-09  09:31 AM  ...  1341960.660              64
2020-10-09 09:32:00  2020-10-09  09:32 AM  ...  1227152.010              63
2020-10-09 09:33:00  2020-10-09  09:33 AM  ...  1298925.580              79
2020-10-09 09:34:00  2020-10-09  09:34 AM  ...  2108499.520             113
...                         ...       ...  ...          ...             ...
2020-10-09 15:55:00  2020-10-09   3:55 PM  ...  2808014.440             147
2020-10-09 15:56:00  2020-10-09   3:56 PM  ...  2319610.405             139
2020-10-09 15:57:00  2020-10-09   3:57 PM  ...  2806715.555             180
2020-10-09 15:58:00  2020-10-09   3:58 PM  ...  5269020.560             190
2020-10-09 15:59:00  2020-10-09   3:59 PM  ...  2155988.285              62

[390 rows x 10 columns]

In [67]:
import pandas as pd 
import numpy as np
import datetime
import json
IEX_data = pd.read_json("https://sandbox.iexapis.com/stable/stock/twtr/chart/max?token=Tsk_64a24f75e3f34d63bde86266f46a3eb2")
IEX_data

           date  uClose  uOpen  ...  changePercent       label  changeOverTime
0    2015-10-12   28.83  30.60  ...         0.0000  Oct 12, 15        0.000000
1    2015-10-13   29.40  30.13  ...         1.1091  Oct 13, 15        0.010978
2    2015-10-14   30.57  29.67  ...         1.1169  Oct 14, 15        0.022049
3    2015-10-15   30.73  29.53  ...         1.1262  Oct 15, 15        0.034885
4    2015-10-16   32.68  30.64  ...         4.9721  Oct 16, 15        0.086404
...         ...     ...    ...  ...            ...         ...             ...
1254 2020-10-05   48.26  46.59  ...         2.5900   Oct 5, 20        0.667817
1255 2020-10-06   46.60  48.76  ...        -3.7300   Oct 6, 20        0.596522
1256 2020-10-07   48.11  47.90  ...         0.6200   Oct 7, 20        0.610551
1257 2020-10-08   47.65  48.50  ...         0.3131   Oct 8, 20        0.625683
1258 2020-10-09   48.20  48.30  ...        -0.2479   Oct 9, 20        0.604328

[1259 rows x 16 columns]

In [68]:
IEX_data['TIMESTAMP'] = IEX_data[['date']].apply(lambda x: x[0].timestamp(), axis=1).astype(int)

IEX_data.head()

        date  uClose  uOpen  ...       label  changeOverTime   TIMESTAMP
0 2015-10-12   28.83  30.60  ...  Oct 12, 15        0.000000  1444608000
1 2015-10-13   29.40  30.13  ...  Oct 13, 15        0.010978  1444694400
2 2015-10-14   30.57  29.67  ...  Oct 14, 15        0.022049  1444780800
3 2015-10-15   30.73  29.53  ...  Oct 15, 15        0.034885  1444867200
4 2015-10-16   32.68  30.64  ...  Oct 16, 15        0.086404  1444953600

[5 rows x 17 columns]

In [69]:
IEX_data.loc[:,['TIMESTAMP','uOpen']]

       TIMESTAMP  uOpen
0     1444608000  30.60
1     1444694400  30.13
2     1444780800  29.67
3     1444867200  29.53
4     1444953600  30.64
...          ...    ...
1254  1601856000  46.59
1255  1601942400  48.76
1256  1602028800  47.90
1257  1602115200  48.50
1258  1602201600  48.30

[1259 rows x 2 columns]