In [59]:
import pandas as pd
import numpy as np

df=pd.read_csv('housing.csv')
numpy_ar=df.to_numpy()
display(numpy_ar)

array([[6.575e+00, 4.980e+00, 1.530e+01, 5.040e+05],
       [6.421e+00, 9.140e+00, 1.780e+01, 4.536e+05],
       [7.185e+00, 4.030e+00, 1.780e+01, 7.287e+05],
       ...,
       [6.976e+00, 5.640e+00, 2.100e+01, 5.019e+05],
       [6.794e+00, 6.480e+00, 2.100e+01, 4.620e+05],
       [6.030e+00, 7.880e+00, 2.100e+01, 2.499e+05]])

In [60]:
df

        RM  LSTAT  PTRATIO      MEDV
0    6.575   4.98     15.3  504000.0
1    6.421   9.14     17.8  453600.0
2    7.185   4.03     17.8  728700.0
3    6.998   2.94     18.7  701400.0
4    7.147   5.33     18.7  760200.0
..     ...    ...      ...       ...
484  6.593   9.67     21.0  470400.0
485  6.120   9.08     21.0  432600.0
486  6.976   5.64     21.0  501900.0
487  6.794   6.48     21.0  462000.0
488  6.030   7.88     21.0  249900.0

[489 rows x 4 columns]

In [63]:
df.columns[[0,2]]

Index(['RM', 'PTRATIO'], dtype='object')

In [64]:
df.drop(df.columns[[0,2]],axis=1,inplace=True)
df.columns

Index(['LSTAT', 'MEDV'], dtype='object')

In [66]:
df.rename(columns={'LSTAT':'lstat','MEDV':'medv'},inplace=True)
df

     lstat      medv
0     4.98  504000.0
1     9.14  453600.0
2     4.03  728700.0
3     2.94  701400.0
4     5.33  760200.0
..     ...       ...
484   9.67  470400.0
485   9.08  432600.0
486   5.64  501900.0
487   6.48  462000.0
488   7.88  249900.0

[489 rows x 2 columns]

In [68]:
df.iloc[300:310,:-1]

     lstat
300   5.98
301  11.72
302   7.90
303   9.28
304  11.50
305  18.33
306  15.94
307  10.36
308  12.73
309   7.20