In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('housing.csv')
df.head(4)

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
npdata=df.to_numpy()#@D array conversion
type(npdata)
npdata.shape

(489, 4)

In [6]:
npdata[1]

array([6.421e+00, 9.140e+00, 1.780e+01, 4.536e+05])

In [27]:
xr=df.drop(['RM'],axis=1)#Remocal done

In [28]:
xr.head(4)

   LSTAT  PTRATIO      MEDV
0   4.98     15.3  504000.0
1   9.14     17.8  453600.0
2   4.03     17.8  728700.0
3   2.94     18.7  701400.0

In [29]:
xr.insert(2,'RM',df['RM'])#Insertion
xr

     LSTAT  PTRATIO     RM      MEDV
0     4.98     15.3  6.575  504000.0
1     9.14     17.8  6.421  453600.0
2     4.03     17.8  7.185  728700.0
3     2.94     18.7  6.998  701400.0
4     5.33     18.7  7.147  760200.0
..     ...      ...    ...       ...
484   9.67     21.0  6.593  470400.0
485   9.08     21.0  6.120  432600.0
486   5.64     21.0  6.976  501900.0
487   6.48     21.0  6.794  462000.0
488   7.88     21.0  6.030  249900.0

[489 rows x 4 columns]

In [9]:
y=df.rename(columns={'RM':'rm'})#Rename colums

In [10]:
y.head(4)

      rm  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0

In [13]:
X_data=df.iloc[:,:-2]#Splitting dataset
Y_data=df.iloc[:,-1]

In [14]:
X_data.head(4)

      RM  LSTAT
0  6.575   4.98
1  6.421   9.14
2  7.185   4.03
3  6.998   2.94