In [1]:
import numpy as np
import pandas as pd

In [9]:
test_df = pd.read_csv("housing.csv")
df=test_df.head(5)
display(df)

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [10]:
np_array = df.to_numpy()
display(np_array)

array([[6.575e+00, 4.980e+00, 1.530e+01, 5.040e+05],
       [6.421e+00, 9.140e+00, 1.780e+01, 4.536e+05],
       [7.185e+00, 4.030e+00, 1.780e+01, 7.287e+05],
       [6.998e+00, 2.940e+00, 1.870e+01, 7.014e+05],
       [7.147e+00, 5.330e+00, 1.870e+01, 7.602e+05]])

In [13]:
test_df.drop(['RM'], axis=1).head()

   LSTAT  PTRATIO      MEDV
0   4.98     15.3  504000.0
1   9.14     17.8  453600.0
2   4.03     17.8  728700.0
3   2.94     18.7  701400.0
4   5.33     18.7  760200.0

In [14]:
test_df.columns

Index(['RM', 'LSTAT', 'PTRATIO', 'MEDV'], dtype='object')

In [15]:
test_df.rename(columns={'MEDV': 'NEW_MEDV'}, inplace=True)
test_df.columns

Index(['RM', 'LSTAT', 'PTRATIO', 'NEW_MEDV'], dtype='object')

In [18]:
test_df['PTRATIO'][0:]

0      15.3
1      17.8
2      17.8
3      18.7
4      18.7
       ...
484    21.0
485    21.0
486    21.0
487    21.0
488    21.0
Name: PTRATIO, Length: 489, dtype: float64