In [2]:
import pandas as pd 
import numpy as np 
from datetime import datetime

In [9]:
df = pd.read_json('https://cloud.iexapis.com/stable/stock/aapl/chart/1y?token=pk_cc965fc3b7d94fc7b06a798c0cd96bae')
#df.to_csv('AAPL2.csv')

In [4]:
#df = pd.read_csv('AAPL1.csv')

In [5]:
#df.drop('Unnamed: 0', axis = 1, inplace = True)
#df.tail(5)

In [6]:
df.date = pd.to_datetime(df.date,utc=0)

In [7]:
df.tail(5)

,date,open,close,high,low,volume,uOpen,uClose,uHigh,uLow,uVolume,change,changePercent,label,changeOverTime
249,2020-10-02,112.89,113.02,115.37,112.22,144711986,112.89,113.02,115.37,112.22,144711986,-3.77,-3.2280,"Oct 2, 20",1.014617
250,2020-10-05,113.91,116.50,116.65,113.55,106243839,113.91,116.50,116.65,113.55,106243839,3.48,3.0791,"Oct 5, 20",1.076649
251,2020-10-06,115.70,113.16,116.12,112.25,161498212,115.70,113.16,116.12,112.25,161498212,-3.34,-2.8670,"Oct 6, 20",1.017112
252,2020-10-07,114.62,115.08,115.55,114.13,96848985,114.62,115.08,115.55,114.13,96848985,1.92,1.6967,"Oct 7, 20",1.051337
253,2020-10-08,116.25,114.97,116.40,114.59,83477153,116.25,114.97,116.40,114.59,83477153,-0.11,-0.1000,"Oct 8, 20",0.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            254 non-null    datetime64[ns]
 1   open            254 non-null    float64
 2   close           254 non-null    float64
 3   high            254 non-null    float64
 4   low             254 non-null    float64
 5   volume          254 non-null    int64
 6   uOpen           254 non-null    float64
 7   uClose          254 non-null    float64
 8   uHigh           254 non-null    float64
 9   uLow            254 non-null    float64
 10  uVolume         254 non-null    int64
 11  change          254 non-null    float64
 12  changePercent   254 non-null    float64
 13  label           254 non-null    object
 14  changeOverTime  254 non-null    float64
dtypes: datetime64[ns](1), float64(11), int64(2), object(1)
memory usage: 29.9+ KB

We can see that the datatype for date is now "datetime64"