In [ ]:
import pandas as pd

df = pd.read_csv("housing.csv")
df.head(5)

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

Above shows head data

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("housing.csv")
np_array = df.to_numpy()
display(np_array)

array([[6.575e+00, 4.980e+00, 1.530e+01, 5.040e+05],
       [6.421e+00, 9.140e+00, 1.780e+01, 4.536e+05],
       [7.185e+00, 4.030e+00, 1.780e+01, 7.287e+05],
       ...,
       [6.976e+00, 5.640e+00, 2.100e+01, 5.019e+05],
       [6.794e+00, 6.480e+00, 2.100e+01, 4.620e+05],
       [6.030e+00, 7.880e+00, 2.100e+01, 2.499e+05]])

Above : Convert to 2D arrays

In [8]:
import pandas as pd

df = pd.read_csv("housing.csv")
df.drop(columns='RM')

     LSTAT  PTRATIO      MEDV
0     4.98     15.3  504000.0
1     9.14     17.8  453600.0
2     4.03     17.8  728700.0
3     2.94     18.7  701400.0
4     5.33     18.7  760200.0
..     ...      ...       ...
484   9.67     21.0  470400.0
485   9.08     21.0  432600.0
486   5.64     21.0  501900.0
487   6.48     21.0  462000.0
488   7.88     21.0  249900.0

[489 rows x 3 columns]

Above drops columns

In [10]:
import pandas as pd

df = pd.read_csv("housing.csv")
header_names=['rm','lstat','ptratio','med']
df = pd.read_csv("housing.csv",header=None,skiprows=1,names=header_names)
df.head()

      rm  lstat  ptratio       med
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

Above renames columns

In [11]:
import pandas as pd

df = pd.read_csv("housing.csv")
df['RM'][1:4]

1    6.421
2    7.185
3    6.998
Name: RM, dtype: float64

Slicing Dataframe