In [1]:
#Imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

plt.rcParams["figure.figsize"] = (16,6)

In [2]:
#Loading the dataset into Pandas dataframe

df=pd.read_csv('/content/housing.csv')
df.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [3]:
#Extracting the 2D array
arr=df.to_numpy()
arr

array([[6.575e+00, 4.980e+00, 1.530e+01, 5.040e+05],
       [6.421e+00, 9.140e+00, 1.780e+01, 4.536e+05],
       [7.185e+00, 4.030e+00, 1.780e+01, 7.287e+05],
       ...,
       [6.976e+00, 5.640e+00, 2.100e+01, 5.019e+05],
       [6.794e+00, 6.480e+00, 2.100e+01, 4.620e+05],
       [6.030e+00, 7.880e+00, 2.100e+01, 2.499e+05]])

In [4]:
#Rename the columns
new_column_names={i:str(i).lower() for i in df.columns}
df.rename(columns=new_column_names,inplace=True)#convert all column names to lowercase
df.head()

      rm  lstat  ptratio      medv
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [5]:
new_df=df.loc[:,['rm','ptratio']]#Slicing the first and third columns
new_df.head()

      rm  ptratio
0  6.575     15.3
1  6.421     17.8
2  7.185     17.8
3  6.998     18.7
4  7.147     18.7

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rm       489 non-null    float64
 1   lstat    489 non-null    float64
 2   ptratio  489 non-null    float64
 3   medv     489 non-null    float64
dtypes: float64(4)
memory usage: 15.4 KB

In [7]:
df.describe()

               rm       lstat     ptratio          medv
count  489.000000  489.000000  489.000000  4.890000e+02
mean     6.240288   12.939632   18.516564  4.543429e+05
std      0.643650    7.081990    2.111268  1.653403e+05
min      3.561000    1.980000   12.600000  1.050000e+05
25%      5.880000    7.370000   17.400000  3.507000e+05
50%      6.185000   11.690000   19.100000  4.389000e+05
75%      6.575000   17.120000   20.200000  5.187000e+05
max      8.398000   37.970000   22.000000  1.024800e+06