In [2]:
import pandas as pd
import numpy as np

In [5]:
df=pd.DataFrame(pd.read_csv("housing.csv"))

In [6]:
df.head(10)

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0
5  6.430   5.21     18.7  602700.0
6  6.012  12.43     15.2  480900.0
7  6.172  19.15     15.2  569100.0
8  5.631  29.93     15.2  346500.0
9  6.004  17.10     15.2  396900.0

In [7]:
a=pd.DataFrame(df).to_numpy
# to convert dataframe to 2d numpy array of size(489,4)
a

<bound method DataFrame.to_numpy of         RM  LSTAT  PTRATIO      MEDV
0    6.575   4.98     15.3  504000.0
1    6.421   9.14     17.8  453600.0
2    7.185   4.03     17.8  728700.0
3    6.998   2.94     18.7  701400.0
4    7.147   5.33     18.7  760200.0
..     ...    ...      ...       ...
484  6.593   9.67     21.0  470400.0
485  6.120   9.08     21.0  432600.0
486  6.976   5.64     21.0  501900.0
487  6.794   6.48     21.0  462000.0
488  6.030   7.88     21.0  249900.0

[489 rows x 4 columns]>

In [8]:
df.isnull().sum() # to check for null enteries

RM         0
LSTAT      0
PTRATIO    0
MEDV       0
dtype: int64

In [9]:
df.dropna(inplace=True)# since there are no null enteries nothing is dropped.

In [10]:
df.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [11]:
a=pd.DataFrame(df).to_numpy
a=np.array(a)

In [13]:
df.iloc[4,3]# to access element in 5th row of 4th column.

760200.0

In [14]:
a=df['RM'].unique()# to check for unique elements ,this may be helpul for extracting important information.
a.size

430

In [15]:
a=df['LSTAT'].unique()
a.size

442

In [16]:
a=df['PTRATIO'].unique()
a.size

44

In [17]:
a=df['MEDV'].unique()
a.size

228

In [18]:
b=df.drop(['LSTAT','RM'],axis=1)# dropping columns 'LSTAT','RM'.

In [19]:
c=b.drop(df.index[43:489],axis=0)# dropping rows from index 43 to 488.

In [21]:
c.shape # 2-D array of shape 43 row and 2 columns

(43, 2)

In [22]:
c

    PTRATIO      MEDV
0      15.3  504000.0
1      17.8  453600.0
2      17.8  728700.0
3      18.7  701400.0
4      18.7  760200.0
5      18.7  602700.0
6      15.2  480900.0
7      15.2  569100.0
8      15.2  346500.0
9      15.2  396900.0
10     15.2  315000.0
11     15.2  396900.0
12     15.2  455700.0
13     21.0  428400.0
14     21.0  382200.0
15     21.0  417900.0
16     21.0  485100.0
17     21.0  367500.0
18     21.0  424200.0
19     21.0  382200.0
20     21.0  285600.0
21     21.0  411600.0
22     21.0  319200.0
23     21.0  304500.0
24     21.0  327600.0
25     21.0  291900.0
26     21.0  348600.0
27     21.0  310800.0
28     21.0  386400.0
29     21.0  441000.0
30     21.0  266700.0
31     21.0  304500.0
32     21.0  277200.0
33     21.0  275100.0
34     21.0  283500.0
35     19.2  396900.0
36     19.2  420000.0
37     19.2  441000.0
38     19.2  518700.0
39     18.3  646800.0
40     18.3  732900.0
41     17.9  558600.0
42     17.9  531300.0

In [63]:
c.ndim

2

In [64]:
c.columns

Index(['PTRATIO', 'MEDV'], dtype='object')

In [23]:
d=c.rename(columns={'MEDV':'price'})#renaming columns.

In [24]:
d=d.iloc[0:10,:]  # slicing 
d

   PTRATIO     price
0     15.3  504000.0
1     17.8  453600.0
2     17.8  728700.0
3     18.7  701400.0
4     18.7  760200.0
5     18.7  602700.0
6     15.2  480900.0
7     15.2  569100.0
8     15.2  346500.0
9     15.2  396900.0