In [99]:
import pandas as pd
#['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']
#Reading csv and naming columns
df=pd.read_csv('housing (task4).csv',names=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B 1000(Bk - 0.63)^2','LSTAT','MEDV'],skipinitialspace=True,delim_whitespace=True)

In [100]:
df

        CRIM    ZN  INDUS  CHAS  ...  PTRATIO  B 1000(Bk - 0.63)^2  LSTAT  MEDV
0    0.00632  18.0   2.31     0  ...     15.3               396.90   4.98  24.0
1    0.02731   0.0   7.07     0  ...     17.8               396.90   9.14  21.6
2    0.02729   0.0   7.07     0  ...     17.8               392.83   4.03  34.7
3    0.03237   0.0   2.18     0  ...     18.7               394.63   2.94  33.4
4    0.06905   0.0   2.18     0  ...     18.7               396.90   5.33  36.2
..       ...   ...    ...   ...  ...      ...                  ...    ...   ...
501  0.06263   0.0  11.93     0  ...     21.0               391.99   9.67  22.4
502  0.04527   0.0  11.93     0  ...     21.0               396.90   9.08  20.6
503  0.06076   0.0  11.93     0  ...     21.0               396.90   5.64  23.9
504  0.10959   0.0  11.93     0  ...     21.0               393.45   6.48  22.0
505  0.04741   0.0  11.93     0  ...     21.0               396.90   7.88  11.9

[506 rows x 14 columns]

In [104]:
dfd=df.dropna()#Dropping rows with atleast one NaN value

In [105]:
dfd

        CRIM    ZN  INDUS  CHAS  ...  PTRATIO  B 1000(Bk - 0.63)^2  LSTAT  MEDV
0    0.00632  18.0   2.31     0  ...     15.3               396.90   4.98  24.0
1    0.02731   0.0   7.07     0  ...     17.8               396.90   9.14  21.6
2    0.02729   0.0   7.07     0  ...     17.8               392.83   4.03  34.7
3    0.03237   0.0   2.18     0  ...     18.7               394.63   2.94  33.4
4    0.06905   0.0   2.18     0  ...     18.7               396.90   5.33  36.2
..       ...   ...    ...   ...  ...      ...                  ...    ...   ...
501  0.06263   0.0  11.93     0  ...     21.0               391.99   9.67  22.4
502  0.04527   0.0  11.93     0  ...     21.0               396.90   9.08  20.6
503  0.06076   0.0  11.93     0  ...     21.0               396.90   5.64  23.9
504  0.10959   0.0  11.93     0  ...     21.0               393.45   6.48  22.0
505  0.04741   0.0  11.93     0  ...     21.0               396.90   7.88  11.9

[506 rows x 14 columns]

In [106]:
X=dfd.iloc[:,:-1]#Splitting dataframe
Y=dfd.iloc[:,-1]

In [107]:
Y.shape

(506,)

In [122]:
from sklearn.model_selection import train_test_split
X_train,X_validation,y_train,y_validation=train_test_split(X,Y,test_size=0.2)#Splitting into train and validation sets

In [109]:
X_train.shape

(404, 13)

In [110]:
#Linear regressor,Polynomial regressor,KNN,SVR,CART,Lasso
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

In [123]:
models = []#To store various models for KFold cross validation
models.append((' LR ', LinearRegression()))
models.append((' LASSO ', Lasso()))
models.append((' EN ', ElasticNet()))
models.append((' KNN ', KNeighborsRegressor()))
models.append((' CART ', DecisionTreeRegressor()))
models.append((' SVR ', SVR()))
results = []
names = []
for name, model in models:
  kfold = KFold( random_state=1, shuffle=True)
  cv_results = cross_val_score(model, X_train, y_train, cv=kfold,
  scoring='r2')
  # print(cv_results)
  results.append(cv_results)
  names.append(name)
  msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
  print(msg)

 LR : 0.694290 (0.061389)
 LASSO : 0.637147 (0.051848)
 EN : 0.649411 (0.048065)
 KNN : 0.435705 (0.156545)
 CART : 0.783276 (0.050381)
 SVR : 0.200949 (0.089468)

In [124]:
clsfr=DecisionTreeRegressor()#CART is working best

In [125]:
clsfr.fit(X_train,y_train)#Fitting training data

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [126]:
Y_pred=clsfr.predict(X_test)

In [127]:
clsfr.score(X_test,y_test)#Score of regressor on test data

0.9196886307254534