In [18]:
import numpy as np
import pandas as pd
import requests
import datetime as dt
import json
from datetime import datetime as dt

In [19]:
ticker= 'nflx'
api_key= "pk_48c23fbf1f594045b030fb910fbd455f"
prev1y="https://cloud.iexapis.com/stable/stock/%s/chart/1y?token=%s"%(ticker,api_key)
prev1d= "https://cloud.iexapis.com/stable/stock/%s/chart/1d?token=%s"%(ticker,api_key)
intraday= "https://cloud.iexapis.com/stable/stock/%s/intraday-prices/batch?token=%s"%(ticker,api_key)
r1d= requests.get(prev1d)
r1y= requests.get(prev1y)
rid= requests.get(intraday)
jsnprev1d=json.loads(r1d.text)
jsnprev1y=json.loads(r1y.text)
jsnintraday=json.loads(rid.text)

In [20]:
for i in jsnprev1y:
  i['minute'] = i.get('minute','09:30')

In [21]:
for i in jsnprev1y:
  string= i['date']+'T'+i['minute']+':00+00:00'
  element= dt.strptime(string,"%Y-%m-%dT%H:%M:%S+00:00")
  timestamp= dt.timestamp(element)
  i['timestamps']= i.get('timestamps',timestamp)
for i in jsnprev1d:
  string= i['date']+'T'+i['minute']+':00+00:00'
  element= dt.strptime(string,"%Y-%m-%dT%H:%M:%S+00:00")
  timestamp= dt.timestamp(element)
  i['timestamps']= i.get('timestamps', timestamp)
for i in jsnintraday:
  string= i['date']+'T'+i['minute']+':00+00:00'
  element= dt.strptime(string,"%Y-%m-%dT%H:%M:%S+00:00")
  timestamp= dt.timestamp(element)
  i['timestamps']= i.get('timestamps', timestamp)

In [22]:
df1y= pd.DataFrame(jsnprev1y)
df1d= pd.DataFrame(jsnprev1d)
dfid= pd.DataFrame(jsnintraday)

In [23]:

frames =[df1y,df1d,dfid]
results =pd.concat(frames)
results= results.drop(['date','close','high','low','volume','uOpen','uHigh','uLow','uVolume','change','label','changeOverTime','minute'],axis=1)
results= results.drop(['uClose','changePercent','average','notional','numberOfTrades'],axis=1)
results

        open    timestamps
0    273.030  1.570527e+09
1    270.020  1.570613e+09
2    265.970  1.570700e+09
3    284.800  1.570786e+09
4    283.930  1.571045e+09
..       ...           ...
97   527.310  1.602155e+09
98   526.840  1.602155e+09
99   526.850  1.602155e+09
100  526.180  1.602155e+09
101  526.535  1.602155e+09

[457 rows x 2 columns]